# DATA FILES
model/Data_manager_split_datasets/**
model/Data_manager_offline_datasets/**

**/.pytest_cache/*

# Ignore cython compiled files
!**/Cython/*.pyd
**/Cython/*.html
**/Cython/*.c
**/Cython/build/*
